body{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/** SCHERM MACBOOK 13INCH - GOOGLE CHROME */
@media only screen and (min-width: 1424px) {
    body{
        overflow-x: hidden;
        width: 100%;
        height: auto;
    }
    /** HEADER */
    #header-Div{
        background-color: rgb(245 113 20);
        width: 100%;
        height: 200px;
    }
    #header-Div h3, p{
        text-align: center;
        color: rgb(253 252 252);
        padding-top: 50px;
    }
    #header-Div h3{
        font-size: 30px;
        font-weight: bold;
    }
    #header-Div p{
        padding-top: 20px;
        font-size: 19px;
    }

    #header-Nav{
        background-color: rgb(189 86 14);
        width: 100%;
        height: 50px;
    }
    #header-Nav ul{
        list-style: none;
        word-spacing: 15px;
    }
    #header-Nav ul li{
        display: inline-block;
        padding-top: 13px;
        padding-left: 25px;
        color: rgb(255 254 254);
        word-spacing: -1px;
        font-size: 20px;
    }
    #header-Nav a{
        cursor: pointer;
    }
    #header-Nav a:hover{
        color: rgb(243 112 22);
    }

    #color-Div{
        width: 100%;
        height: 5px;
        background-color: rgb(254 215 9);
    }
    /** EINDE HEADER */

                      /*-- HEADER IS DONE/*


    /** ASIDE */
    aside{
        background-color: rgb(255 183 133);
        width: 30%;
        height: 1200px;
    }
    #aside h3{
        padding-left: 30px;
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
    }
    #aside p{
        color: black;
        font-size: 18px;
        left: 30px;
        top: 280px;
        position: absolute;
    }
    #aside img{
        width: 85%;
        padding-top: 70px;
        padding-left: 40px;
    }  
    #aside-Pa2{
        font-size: 18px;
        padding-top: 350px;
        padding: auto;
    }
    #aside-H3-2{
        top: 750px;
        position: absolute;
    }
    #aside-Pa3{
        font-size: 18px;
        padding-top: 540px;

    }
    
                        /*-- ASIDE IS DONE /*

    /** EINDE ASIDE */

    /** BEGIN MAIN*/
    main{
        width: 70%;
        height: 1200px;
        top: 255px;
        left: 427.5px;
        position: absolute;
    }
    #main-H3-1{
        padding-left: 30px;
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(245 115 17);
    }
    #main p{
        color: black;
        font-size: 18px;
        left: 30px;
        top: 25px;
        position: absolute;
    }
    #main-img-1{
        width: 37%;
        padding-top: 70px;
        padding-left: 40px;
    }
    #main-Pa2{
        font-size: 18px;
        padding-top: 350px;
        padding: auto;
    }
    #main-Pa3{
        font-size: 18px;
        padding-top: 500px;
    }
    #main-H3-2{
        padding-left: 30px;
        top: 630px;
        position: absolute;
        font-weight: bold;
        font-size: 20px;
        color: rgb(245 115 17);
    }
    #main-Pa4{
        font-size: 18px;
        padding-top: 650px;
    }
    #main-img-2{
        width: 37%;
        padding-top: 400px;
        padding-left: 40px;

    }
    #main2 p{
        color: black;
        font-size: 18px;
        left: 30px;
        top: 925px;
        position: absolute;
    }
    #main2-Pa2{
        font-size: 18px;
        padding-top: 150px;
        padding: auto;
    }
                        /*-- MAIN IS DONE */
}







/** SCHERM IPHONE 11*/
@media only screen and (min-width: 413px) and (max-width: 1423px){
    body{
        background-image: url(/img/nr.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header{
        display: none;
    }
}

